
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica}
.orgList{
    height: 445.5px;
    overflow-y: auto;
}
 .workList{
    height: 445.5px;
    overflow-y: auto;
} 

/* Lists */
li span{
  display: block;
}

.same{
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
 }

 
.same li span:nth-child(2), span:nth-child(3), span:nth-child(4){
  font-size: 16px;
  margin-top: 6px;
  color: white;
}

/* education */
#edu-list li{
  padding: 20px;
  background: #5CE1E6;
  font-size: 20px;
  color: #0d203b;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 150px;
}

#edu-list li:nth-child(1){
  border-radius: 0px 110px 0px 0px;
}

#edu-list li:nth-child(even){
  padding: 20px;
  background: #F7A3B1;
}
/* organization */
#org-list li{
  padding: 20px;
  background: #5CE1E6;
  font-size: 20px;
  color: #0d203b;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 150px;
}

#org-list li:nth-child(1){
  border-radius: 0px 110px 0px 0px;
}

#org-list li:nth-child(even){
  padding: 20px;
  background: #65c6f4;
}
/* works */
#work-list li{
  padding: 20px;
  background: #F7A3B1;
  font-size: 20px;
  color: #0d203b;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 150px;
}

#work-list li:nth-child(1){
  border-radius: 0px 110px 0px 0px;
}

#work-list li:nth-child(even){
  padding: 20px;
  background: #f85c70;
}

li div{
  position: absolute;
  top: 10px;
  right: 70px;
  background: white;
  color: #0d203b;
  width: 40px;
  text-align: center;
  padding: 10px 0;
  font-weight:  bold;
  cursor:  pointer;
  border-radius: 40px 40px 40px 40px;
}

li div:hover{
  background: #65c6f4;
  color: white;
}

.Mleft{
  margin-left: 30%;
}

.mleft{
  margin-left: 50px;
}
